@font-face {
  font-family: 'nh-icon';
  src:  url('fonts/nh-icon.eot?gnco9l');
  src:  url('fonts/nh-icon.eot?gnco9l#iefix') format('embedded-opentype'),
    url('fonts/nh-icon.ttf?gnco9l') format('truetype'),
    url('fonts/nh-icon.woff?gnco9l') format('woff'),
    url('fonts/nh-icon.svg?gnco9l#nh-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="nh-icon-"], [class*=" nh-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nh-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nh-icon-player-start:before {
  content: "\e950";
}
.nh-icon-player-back:before {
  content: "\e951";
}
.nh-icon-player-stop:before {
  content: "\e952";
}
.nh-icon-player-volume:before {
  content: "\e953";
}
.nh-icon-player-forward:before {
  content: "\e954";
}
.nh-icon-player-download:before {
  content: "\e955";
}
.nh-icon-menue_audios:before {
  content: "\e941";
}
.nh-icon-mobile-close:before {
  content: "\e944";
}
.nh-icon-mobile-minus:before {
  content: "\e945";
}
.nh-icon-mobile-plus:before {
  content: "\e946";
}
.nh-icon-mobile-close-light:before {
  content: "\e947";
}
.nh-icon-abo-plus:before {
  content: "\e93d";
}
.nh-icon-fragen-und-antworten:before {
  content: "\e93e";
}
.nh-icon-menue-print:before {
  content: "\e93f";
}
.nh-icon-plus:before {
  content: "\e940";
}
.nh-icon-fuenf-artikel:before {
  content: "\e937";
}
.nh-icon-kaeufe:before {
  content: "\e938";
}
.nh-icon-kundenbibliothek:before {
  content: "\e939";
}
.nh-icon-lesezeichen:before {
  content: "\e93a";
}
.nh-icon-nutzer2:before {
  content: "\e93b";
}
.nh-icon-geschenkabo-plus:before {
  content: "\e93c";
}
.nh-icon-close:before {
  content: "\e936";
}
.nh-icon-arrow-left:before {
  content: "\e934";
}
.nh-icon-arrow-right:before {
  content: "\e935";
}
.nh-icon-line:before {
  content: "\e933";
}
.nh-icon-suchen:before {
  content: "\e932";
}
.nh-icon-radio_checked:before {
  content: "\e930";
}
.nh-icon-radio:before {
  content: "\e931";
}
.nh-icon-checkbox_checked:before {
  content: "\e92e";
}
.nh-icon-checkbox:before {
  content: "\e92f";
}
.nh-icon-menue_audio:before {
  content: "\e902";
}
.nh-icon-menue_einkaufswagen:before {
  content: "\e92b";
}
.nh-icon-menue_lupe:before {
  content: "\e92c";
}
.nh-icon-menue_nutzer:before {
  content: "\e92d";
}
.nh-icon-naturheilkunde:before {
  content: "\e919";
}
.nh-icon-pflanzenheilkunde:before {
  content: "\e91a";
}
.nh-icon-zahnheilkunde:before {
  content: "\e91b";
}
.nh-icon-tierheilkunde:before {
  content: "\e91c";
}
.nh-icon-kunderheilkunde:before {
  content: "\e91d";
}
.nh-icon-frauenheilkunde:before {
  content: "\e91e";
}
.nh-icon-sanfte-medizin:before {
  content: "\e91f";
}
.nh-icon-krankheit-und-heilung:before {
  content: "\e920";
}
.nh-icon-koerpertherapien:before {
  content: "\e921";
}
.nh-icon-wege-nach-innen:before {
  content: "\e922";
}
.nh-icon-schoenheit-und-wohlbefinden:before {
  content: "\e923";
}
.nh-icon-ganzheitlich-heilen:before {
  content: "\e924";
}
.nh-icon-wissenswertes:before {
  content: "\e925";
}
.nh-icon-im-gespraech:before {
  content: "\e926";
}
.nh-icon-zur-diskussion:before {
  content: "\e927";
}
.nh-icon-mensch-natur-umwelt:before {
  content: "\e928";
}
.nh-icon-partnerschaft:before {
  content: "\e929";
}
.nh-icon-maennerheilkune:before {
  content: "\e92a";
}
.nh-icon-ernahrung:before {
  content: "\e900";
}
.nh-icon-gesundes-leben:before {
  content: "\e901";
}
.nh-icon-heilkunde:before {
  content: "\e903";
}
.nh-icon-homoeopathie:before {
  content: "\e904";
}
.nh-icon-koerper-und-seele:before {
  content: "\e905";
}
.nh-icon-krankheiten-und-therapien:before {
  content: "\e906";
}
.nh-icon-mensch-und-gesellschaft:before {
  content: "\e907";
}
.nh-icon-abo-geschenk:before {
  content: "\e909";
}
.nh-icon-bestellung:before {
  content: "\e90a";
}
.nh-icon-bibliothek:before {
  content: "\e90b";
}
.nh-icon-forum:before {
  content: "\e90c";
}
.nh-icon-aktuelles-heft:before {
  content: "\e90d";
}
.nh-icon-audio:before {
  content: "\e90e";
}
.nh-icon-newsletter:before {
  content: "\e90f";
}
.nh-icon-leserservice:before {
  content: "\e910";
}
.nh-icon-kurz-notiert:before {
  content: "\e911";
}
.nh-icon-ueber-uns:before {
  content: "\e912";
}
.nh-icon-tipps-erfahrungen:before {
  content: "\e913";
}
.nh-icon-team:before {
  content: "\e914";
}
.nh-icon-seite-sieben:before {
  content: "\e915";
}
.nh-icon-sammelbox:before {
  content: "\e916";
}
.nh-icon-nutzer:before {
  content: "\e917";
}
.nh-icon-wissensschatz:before {
  content: "\e918";
}
.nh-icon-eye:before {
  content: "\f06e";
}
.nh-icon-eye-slash:before {
  content: "\f070";
}
.nh-icon-bewaehrt-und-neu:before {
  content: "\e94f";
}
.nh-icon-lesezeichen_gemerkt:before {
  content: "\e94e";
}
.nh-icon-postfach:before {
  content: "\e94d";
}
.nh-icon-downloads:before {
  content: "\e94c";
}
.nh-icon-warenkorb-leer:before {
  content: "\e942";
}
.nh-icon-lesezeichen-audio:before {
  content: "\e943";
}
.nh-icon-lesezeichen-artikel:before {
  content: "\e949";
}
.nh-icon-kaufe-audio:before {
  content: "\e94a";
}
.nh-icon-kaufe-artikel:before {
  content: "\e94b";
}
.nh-icon-abo:before {
  content: "\e908";
}
.nh-icon-hamburger:before {
  content: "\e948";
}
